h1{
    background-color: yellow;
    width: 50%;
    height: 2em;
    text-align: center;
    align-content: center;
}
textarea{
 min-width: 500px;
 min-height: 500px;
 max-width: 500px;
 max-height: 500px;
}